{% extends "blog/base.html" %}
{% block blog %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messasges %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Tags</h3>
            <hr>
              <ul>
                {% if tags %}
                  {% for tag in tags %}
                    <li class='text-muted'>{{ tag }}</li>
                  {% endfor %}
                {% else %}
                    <p>None yet</p>
                {% endif %}
              </ul>
          </div>
        </div>
      </div>
    </main>
{% endblock blog %}