{% extends "blog/base_sidebar.html" %}
{% load comments static %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'profile' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      {% if post.image %}
        <img class="img-fluid" src="{{ post.image.url }}">
      {% endif %}
      <hr>
      <p class="article-content">{{ object.content }}</p>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
      <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
      <hr>
      {% render_comment_list for object %}
      {% if user.is_authenticated %}
        {% render_comment_form for object %}
      {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
      {% endif %}
    </div>
  </article>
{% endblock %}