{% extends "blog/base.html" %}
{% load staticfiles %}
{% block blog %}{% endblock %}
{% block content2 %}
<article class="media content-section">
  {% for follower in following %}
      <div class="container-fluid">
        <img class="rounded-circle article-img" src="{{ follower.image.url }}">
        <span>{{ follower }}</span>
        {% block jquery %}
          <script src="{% static 'blog/main.js' %}"></script>
        {% endblock %}
          <!--
          <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
          <script src="{% static 'blog/main.js' %}"></script>
          -->
            <a class="btn {{color}}" id="friend"
             data-href="{% url 'api-follow' user.username %}" 
             href="{% url 'follow' user.username %}">{{ view.friend_check }}</a>
      </div>
  {% endfor %}
</article>      
{% endblock %} 