{% extends "blog/base_profile.html" %}
{% load static %}
{% load follow_tag %}
{% block profile %}
  <ul class="list-group">
      {% for follower in followers %}
      <li class="list-group-item">
            <a  href="{% url 'profile' follower.get_username %}">
            <img class="rounded-circle article-img" src="{{ follower.image.url }}">
            </a>
            <a class="card-link text-dark" href="{% url 'profile' follower.get_username %}">{{ follower.get_username }}</a>
            {% if request.user.is_authenticated %}
              {% if request.user.profile != follower %}
                <a class="btn btn-sm {{color}} friend float-right" id="friend-{{follower.get_username}}"
                 data-href="{% url 'api-follow' follower.get_username %}" 
                 href="">{% follow_check request.user.profile follower %}</a>
              {% endif %}
            {% endif %}
    </li>
      {% endfor %}
      </ul>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'blog/main.js' %}"></script>
</article>      
{% endblock %} 