{% extends "blog/base_profile.html" %}
{% load static %}
{% block profile %}
<div class="media-body text-center">
<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <h4>{{ user.username }}</h4>
    {% if user == request.user %}
      <p>Email: {{ user.email }}</p>
      <a class="btn btn-outline-info mb-4" href="{% url 'profile-edit' %}">Edit</a>
    {% else %}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="{% static 'blog/main.js' %}"></script>
      {% if request.user.is_authenticated %}
        {% if user.profile in request.user.profile.get_following %}
          <a class="btn btn-info friend" id="friend-{{follower.get_username}}"
           data-href="{% url 'api-follow' user.username %}" 
           href="">Unfollow</a>
        {% else %}
          <a class="btn btn-info-outline friend" id="friend-{{follower.get_username}}"
           data-href="{% url 'api-follow' user.username %}" 
           href="">Follow</a>
        {% endif %}
      {% endif %}
    {% endif %}
</div>
<div class="content-section">
    <h5>Posts created:{{ post_count }}</h5>
    <p>Latest posts:</p>
    <ul style="list-style-type:none;">
    {% for post in latest_posts %}
        <li><a href="{% url 'post-detail' post.id %}">{{post.title}}</a>  |  {{post.content|slice:":50"}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}