{% extends "blog/base_profile.html" %}
{% load static %}
{% block profile %}
  <ul class="list-group">
    {% with my_friends=request.user.profile.get_following %}
      {% for follower in followers %}
      <li class="list-group-item">
            <a  href="{% url 'profile' follower.get_username %}">
            <img class="rounded-circle article-img" src="{{ follower.image.url }}">
            </a>
            <a class="card-link text-dark" href="{% url 'profile' follower.get_username %}">{{ follower.get_username }}</a>
            {% if request.user.is_authenticated %}
              {% if request.user.profile != follower %}
                {% if follower in my_friends %}
                  <a class="btn btn-sm btn-info friend float-right" id="friend-{{follower.get_username}}"
                   data-href="{% url 'api-follow' follower.get_username %}" 
                   href="">Unfollow</a>
                {% else %}
                  <a class="btn btn-sm btn-info-outline friend float-right" id="friend-{{follower.get_username}}"
                   data-href="{% url 'api-follow' follower.get_username %}" 
                   href="">Follow</a>
                {% endif %}
              {% endif %}
            {% endif %}
    </li>
      {% endfor %}
      {% endwith %}
      </ul>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'blog/main.js' %}"></script>
</article>      
{% endblock %} 