{% extends "blog/base_profile.html" %}
{% load static %}
{% block profile %}
<div class="media-body text-center">
<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <h4>{{ user.username }}</h4>
    {% if user == request.user %}
      <p>Email: {{ user.email }}</p>
      <a class="btn btn-outline-info mb-4" href="{% url 'profile-edit' %}">Edit</a>
    {% else %}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="{% static 'blog/main.js' %}"></script>
      {% if request.user.is_authenticated %}
        <a class="btn {{color}} friend" id="friend"
         data-href="{% url 'api-follow' user.username %}" 
         href="">{{ view.friend_check }}</a>
      {% endif %}
    {% endif %}
</div>
{% endblock %}